<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('user_session.php','php');
  require_once $templater->get_path_str('twitter/twitter_oauth.php','php');
  $templater->add_css('register.css','css');

  $user = startUserSession();
  
  //Logged in user, they don't need to be here
  if($user->get_id() != -1)
    header('Location: http://'.$_SERVER['SERVER_NAME']);

  if(isset($_POST['email']) && isset($_POST['password']) && isset($_POST['display'])) {
    $flitter = new FlitterLibrary();
    if( ($user = $flitter->getUserByEmail($_POST['email'])) === FALSE) {
      $id = $flitter->addUser(array('email'=>$_POST['email'],'password'=>$_POST['password'],'display_name'=>$_POST['display']));
      if($id) {
	$user = new User( array('email'=>$_POST['email'],'user_id'=>$id,'display_name'=>$_POST['display']) );
	//Write user to session
	getSessionResource()->storeResource($user->get_info(),'accounts');
	header('Location: http://'.$_SERVER['SERVER_NAME']);
      }
      else
	$error = "There was some sort of error registering the account";
    }
    else
      $error = 'The email '.$user['email'].' has already been taken';
  }
?>

<?php if(isset($error)) echo $error,"<br/><br/>"; ?>

<form action="" method="POST">
  <div class="header">Register</div>
  <img src="<?=$templater->get_path_str("email2.png","img")?>" 
    width="40" height="18" alt="Display Name"> 
  <input type="textbox" class="textbox" name="display" /><br />
  <img src="<?=$templater->get_path_str("email2.png","img")?>" 
    width="40" height="18" alt="E-mail"> 
  <input type="textbox" class="textbox" name="email" /><br />
  <img src="<?=$templater->get_path_str("password2.png","img")?>" 
    width="40" height="18" alt="Password">
  <input type="password" class="textbox" name="password" /><br />
  <input type="image" class="submit" 
    src="<?=$templater->get_path_str("submit.png","img")?>" 
    value="Submit" />
</form>