.header {
  font-size:18px;
  font-weight:bold;
  padding:5px;
  padding-right:25px;
}

.textbox {
  font-size:12px;
  height:18px;
  width:150px;
  border:2px solid #3f3f3f;
  background:url('../img/form_textbox.png') repeat-x;
  margin:0px;
  padding:0px;
}

.submit {
  padding-right:96px;
}

form img {
  vertical-align:top;
  margin:5px;
  margin-right:0px;	
}

form {
  text-align:right;
  padding-top:10px;
  margin-bottom:0px;
  margin-right:326px;
}

input {
  margin:5px !important;
}

#accounts ul {
  position:absolute;
  margin-top:44px;
  margin-left:450px;
  max-width:174px;
}

#feedback { font-size: 18px; }
#selectable .ui-selecting { background: #3f3f3f; }
#selectable .ui-selected { background: #fc3333; }
#selectable { list-style-type: none; margin: 0; padding: 0; }

#selectable li {
  float:left; 
  background: none; 
  border: none; 
  width: 48px; 
  height: 48px; 
  text-align: center; 
  margin: 3px;
  padding: 2px;
}