/* CSS Document */

#definition {
  position:absolute;
  padding-top:52px;
  margin-left:183px;
  font-size:18px;	
}

.bold {
  font-weight:bold;
}

.italic {
  font-style:italic;	
}

#loginbar {
  float:right;
  padding-right:30px;
  padding-top:20px;
}