/* CSS Document */

div#content_container {
  font-size:18px;
  padding-top:10px;
  padding-left:10px;
  height:300px;
}

div#content_container img, div#content_container div {
  position:absolute;	
}

#arrows_tall {
  /*win*/
}

#arrows_short_top {
  padding-left:50px;
  padding-top:55px;
}

#arrows_short_bottom {
  padding-left:50px;
  padding-top:195px;
}

#looking {
  padding-left:49px;
  padding-top:20px;	
}

#follow {
  padding-left:100px;
  padding-top:69px;	
}

#search {
  padding-left:100px;
  padding-top:119px;
}

#know {
  padding-left:49px;
  padding-top:160px;
}

#create {
  padding-left:100px;
  padding-top:209px;	
}

#manage {
  padding-left:100px;
  padding-top:259px	
}