.header {
  font-size:18px;
  font-weight:bold;
  padding:5px;
  padding-left:55px;
}

.textbox {
  font-size:12px;
  height:18px;
  width:150px;
  border:2px solid #3f3f3f;
  background:url('../img/form_textbox.png') repeat-x;
  margin:0px;
  padding:0px;
}

.submit {
  padding-left:50px;
}

form img {
  vertical-align:top;
  margin:5px;
  margin-right:0px;	
}

form {
  /*text-align:center;*/
  padding-top:10px;
  margin-bottom:0px;
  margin-left:225px;
}

input {
  margin:5px !important;
}