<?php
  $this->add_style('global_navigation');
?>
    <div id="global_navigation">
      <div id="logo">Flitter</div>
      <div id="navigation_links">
        <?php
          foreach( $template['buttons'] as $button_name => $button_label ) {
            if($template['active_section']==$button_name)
              $class_type = $template['active_section_class'];
            else
              $class_type = $template['button_class'];
              
            echo "
              <a ".$templater->add_link($button_name)." class=\"$class_type\" id=\"".$template['button_class']."_$button_name\">
                $button_label
              </a>";
          }
        ?>
      </div>
    </div>