RewriteEngine On
RewriteBase /

RewriteRule ^source/(.*) index.php?http_file=source&http_detail=$1 [L]

RewriteRule ^account/(\w+)/?$	index.php?http_file=$1&http_folder=account [L]
RewriteRule ^account/view/([\w0-9]+)/?$ index.php?http_file=view&http_folder=account&http_detail=$1 [L]

RewriteRule ^event/(\w+)/?$	index.php?http_file=$1&http_folder=event [L]
RewriteRule ^event/view/([\w0-9]+)/?$ index.php?http_file=view&http_folder=event&http_detail=$1 [L]
RewriteRule ^event/join/([\w0-9]+)/?$ index.php?http_file=join&http_folder=event&http_detail=$1 [L]
RewriteRule ^event/leave/([\w0-9]+)/?$ index.php?http_file=leave&http_folder=event&http_detail=$1 [L]
RewriteRule ^event/remove/([\w0-9]+)/?$ index.php?http_file=view&http_folder=event&http_detail=$1 [L]

RewriteRule ^info/(\w+)/?$	index.php?http_file=$1&http_folder=info [L]

RewriteRule ^(\w+)/?$ index.php?http_file=$1 [L]
