RewriteEngine On
RewriteBase /

RewriteRule ^source/(.*) index.php?http_file=source&http_detail=$1 [L]
#RewriteRule ^account/?(\w*)?/?(\w*)?/?$ index.php?http_area=account&http_task=$1&detail=$2 [L]
RewriteRule ^account/(\w+)/?$	index.php?http_file=$1&http_folder=account [L]
RewriteRule ^event/(\w+)/?$	index.php?http_file=$1&http_folder=event [L]
RewriteRule ^info/(\w+)/?$	index.php?http_file=$1&http_folder=info [L]
RewriteRule ^(\w+)/?$ index.php?http_file=$1 [L]
