<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');

  $flitter = new FlitterLibrary();
  
  $commitment = $flitter->getUserEventCommitment($args['user']['user_id'],$args['http_detail']);

  //Is user an affiliated non-admin?
  if(is_array($commitment) && $commitment['type']!='admin')
    $flitter->removeCommitment($commitment['comm_id']);
  header('Location: '.getRefererURL());
?>