  <?php $this->add_style("about"); ?>
  
  <div id="about_content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit, ante et adipiscing sagittis, quam diam fringilla odio, ultricies varius lorem eros sed ipsum. Etiam faucibus, dolor vel sodales rutrum, turpis dui condimentum lorem, ut viverra est justo non magna. Vivamus nec eros ac elit consequat congue. Sed in justo at ante hendrerit rhoncus. Praesent id leo lorem, ut accumsan metus. Morbi aliquet volutpat diam sit amet consectetur. Proin semper enim purus. Nulla sem mauris, dapibus vel tempus a, dignissim a nisl. Aenean sagittis auctor mauris nec accumsan. Integer mauris tortor, elementum sed fermentum sed, iaculis et tortor. Integer imperdiet convallis malesuada. Phasellus feugiat metus vitae augue mollis et molestie elit consectetur. Vivamus est nisi, posuere vel sodales nec, tempor et metus. Praesent sed massa felis, ac pellentesque magna.
    <br/><br/>
    Sed ac leo a nibh sollicitudin tristique. Sed orci diam, sagittis eu volutpat id, ullamcorper eget mauris. Etiam ut massa at turpis rutrum egestas. Morbi ut sapien lorem. Cras sit amet consequat quam. Nunc posuere dui diam, vel malesuada est. Nunc tellus enim, condimentum eu gravida in, volutpat a sapien. In hac habitasse platea dictumst. Donec pharetra magna nec odio fringilla elementum. Praesent purus nunc, lobortis quis mattis vel, laoreet ut eros. 
  </div>