<?php
  $templater->add_style("header");
  
  echo "<div id=\"nav_bar\">";
  foreach($template['sections'] as $section => $label) {
    echo "
      <a ".$templater->add_link($section)." class=\"section_link\" id=\"section_link_$section\">
        $label
      </a>";
  }  
  echo "</div>
        <div style=\"clear:both;\"></div>";
?>