<?php
  $templater->add_style("header.css");
  $templater->add_script("header.js");
  $templater->php_link("user_session.php");

  $user = startUserSession();

  //Set Up for a Logged In User
  if($user->get_id() != -1) {
    
  }
  //Set Up for a Logged out User
  else {
 
  }

?>
