<?php
  $templater->add_style("home");
  $templater->add_script("home");
?>

<div id="flitter_info">
Flitter aims to organize communities of people around their interests and
activities.  The heavy focus will be not on who you are, who you know, or what
you think, but rather on what you do. More specifically what you will be doing
in the future. By helping people once again focus on activities and community 
we hope to assist in reforming this fundemental aspect of civil society.
</div>
<div id="infoboxes">
  <a <?=$templater->http_link("discover")?>><div id="discover_infobox">
    </br><span class="title_text">Discover</span><br/><br/>
    <span class="infobox_text">Use our site to browse local events, review lists, set up interest feeds, and see what's popular in the area. When you're done, just export to your personal calendar and live life your way. Seamlessly.</span>
  </div></a>
  
  <a <?=$templater->http_link("create")?>><div id="create_infobox">
    <br/><span class="title_text">Create</span><br/><br/>
    <span class="infobox_text">Leverage our platform to launch your events into the mainstream and capture an audience. Use our publishing tools to see how your events are doing and who's been taking a look. Maximize your potential.</span>
  </div></a>
</div>

<div id="get_involved">
  Flitter is an open source project sponsored by Sean O'Sullivan, graduate of
  the RPI class of '85 and founder of MapInfo, and run through 
  <acronym title="Rensselaer Center for Open-source Software">RCOS</acronym>.
  <br/><br/>
  
  We're just a couple of students out to change the world and can always use a
  hand. Please check our <a <?=$templater->http_link("contribute")?>>Contribute
  </a> section to find out how you can help and leave your mark.
</div>