RewriteEngine On

RewriteRule ^(.+\.phps)$ source.php?file=$1 [L]

#RewriteCond %{HTTP_HOST} !^localhost
#RewriteCond %{REMOTE_ADDR} !^%{SERVER_ADDR}/
#RewriteRule ^(.+\.js)$ source.php?file=$1 [L]

#RewriteCond %{REMOTE_ADDR} !^%{SERVER_ADDR}/
#RewriteRule ^(.+\.css)$ source.php?file=$1 [L]
