RewriteEngine On
RewriteBase /

RewriteRule ^source/(.*) index.php?http_area=source&http_task=$1 [L]
RewriteRule ^account/?(\w*)?/?(\w*)?/?$ index.php?http_area=account&http_task=$1&detail=$2 [L]
RewriteRule ^(\w+)$ index.php?http_area=$1 [L]
