<?php
  $templater->add_css("header.css");
  $templater->add_js("header.js");
  require_once $templater->get_path_str("user_session.php",'php');

  $user = startUserSession();

  //Set Up for a Logged In User
  if($user->get_id() != -1) {
    
  }
  //Set Up for a Logged out User
  else {
 
  }

?>

<div id="definition"><span class="bold">flitter</span>
  <span class="italic">v.</span>, to move about quickly from one location 
  to another
</div>
