<?php
  $templater->add_css("header.css");
  $templater->add_js("jquery-1.3.2.js");
  $templater->add_js("header.js");
  require_once $templater->get_path_str("user_session.php",'php');

  $user = $args['user'];

  $simg = '<img src="'.$templater->get_path_str("separator.png","img").
          '"width="3" height="18" alt="">';
  $loginbar = 'Welcome <span style="font-weight:bold;">'.
    $user->get_display_name().'</span> '.$simg.' ';
  //Set Up for a Logged In User
  if($user->get_id() != -1) {
    $loginbar .= '<a href="'.$templater->get_http_path('account/manage').
      '">My Account</a> '.$simg.' <a href="'.
      $templater->get_http_path('event/manage').
      '">My Events</a> '.$simg.' <a href="'.
      $templater->get_http_path('account/logout').'">Log Out</a>';
  }
  //Set Up for a Logged out User
  else {
    $loginbar = 'For the full 
      <span style="font-weight:bold;">flitter</span> experience, 
      <a href="'.$templater->get_http_path('account/login').
      '">Log In!</a> '.$simg.' <a href="'.
      $templater->get_http_path('account/register').'">Register</a>'; 
  }

?>

<div id="definition"><span class="bold">flit&#183;ter</span>
  <span class="italic">v.</span>, to move about quickly from one location 
  to another
</div>

<div id="loginbar">
  <span id="banner_slice">
	<img src="<?=$templater->get_path_str("banner_end.png","img")?>" 
    width="65" height="50" alt="" id="banner_end">
    <span id="banner_menu">
      <a href="<?=$templater->get_http_path('follow')?>">Follow</a>
      <img src="<?=$templater->get_path_str("separator.png","img")?>" 
        width="3" height="18" alt=""> 
      <a href="<?=$templater->get_http_path('event/search')?>">Search</a>
      <img src="<?=$templater->get_path_str("separator.png","img")?>" 
        width="3" height="18" alt=""> 
      <a href="<?=$templater->get_http_path('event/create')?>">Create</a>
      &nbsp;&nbsp;&nbsp;&nbsp;<?=$loginbar?>
    </span>
  </span>
</div>
