  <?php $this->add_style("about"); ?>
  
  <div id="about_content">
Flitter is an open source web project that aims to organize communities of people around their interests and activities.  The heavy focus will be not on who you are, who you know, or what you think, but rather on what you do. More specifically what you will be doing in the future. By helping people once again focus on activities and community we hope to assist in reforming this fundemental aspect of civil society.
<br/><br/>
Serverside scripting is in PHP and aims to conform to PEAR standards.  It will eventually be documented with PHPDocumenter.<br/>
We have built an extremely lightweight templating class through use of eval() and output buffers.<br/>
We are building an equally lightweight page generation system with the templater class and mod_rewrite to contruct pages from URL arguements.
<br/><br/>
Currently we are working on scraping event data from various calendars and completing integration of an authentication/login system.
<br/><br/>
<hr>
<br/>
LiveCode is a package of webscripts that aims to be a lightwight and powerful way to explore a website's serverside code from within your broswer.  It seems entirely unnecessary that someone wishing to see how a particular aspect of a website works would need employ version control software and download the whole site. By creating a free and easy way to share your work on the web with others we aim to promote better code and transparency.
<br/><br/>
LiveCode has been built on the GeSHi highlighting engine and currently supports complex syntax highlighting (php,html,js,css all at once) and has basic linking and filetree navigation through integration with jQuery's TreeView.
<br/><br/>
Currently we are skinning LiveCode for a more professional feel and testing it out on our growing Flitter code base.  
  </div>