<?php
  $templater->add_style("footer");  
?>
<div id="footer_bar">
<?php
  foreach($template['links'] as $target => $label) {
    echo "
      |<a ".$templater->http_link($target)." class=\"footer_link\" id=\"section_link_$target\">
        $label
      </a>|";
  }  
?>
  <br/><br/>Copyright 2009 <i>flitter.to</i> - Some rights Reserved, consult 
  <a <?=$templater->http_link('licensing')?> >licensing</a> for more information
</div>