<head>
  <base href="http://<?php echo $_SERVER['SERVER_NAME'].$_SERVER['PHP_SELF']; ?>">
  <title><?php echo $templater->get_page_title(); ?></title>
  <?php $templater->linking_code(); ?>
</head>