<?php
  $templater->add_style("header");
  
  echo "<ul id=\"nav_bar\">";
  foreach($template['sections'] as $section => $label) {
    echo "
      <li><a ".$templater->http_link($section)." class=\"section_link\" id=\"section_link_$section\">
        $label
      </a></li>";
  }  
  echo "</ul>
        <div style=\"clear:both;\"></div>";
?>