<?php
  $templater->add_style("home.css");
  $templater->add_script("home.js");
?>
<div id="content_container">
  <img <?=$templater->img_link("arrows_tall.png")?> width="40" 
    height="180" alt="">
  <img <?=$templater->img_link("arrows_short.png")?> width="40" 
	height="84" alt="">
</div>