<?php
  $templater->add_script("jquery-1.3.2");
  $templater->add_script("index");
  $templater->add_style("index");
  
  if($template['http_area']=="")
    $area = 'about';  //Default
  else
    $area = strtolower($template['http_area']); //User Requested
  
  
  $header = $templater->load_template(  
                'header',
                array(  'sections' => array('account'     =>'Accounts',
                                            'find'        =>'Find',
                                            'create'      =>'Create',
                                            'about'       =>'About',
                                            'contact'     =>'Contact',
                                            'developers'  =>'Developers',
                                            'source/index.php'      =>'Source Code',
                                            'legals'      =>'Legal Docs') ),
                'header');
                
  $content = $templater->load_template(
                $area,
                array(),
                $area);
                
  $footer = $templater->load_template(
                'footer',
                array(  'links' => array( 'link1'   => 'Link 1',
                                          'link2'   => 'Link 2',
                                          'link3'   => 'Link 3',
                                          'link4'   => 'Link 4',
                                          'link5'   => 'Link 5' ) ),
                'footer');
?>

<body>
  <div id="container">
    <div id="logo">
      Flitter.to
    </div>
    <div id="header"><?=$header?></div>
    <div id="content"><?=$content?></div>
    <div id="footer"><?=$footer?></div>
  </div>
  
</body>