<?php

function drop_down_menu($target,$label,$sublinks){
  if($sublinks != null) {
    return array( 'target'              =>  $target,      //Head Button Link
                  'label'               =>  $label,       //Head Button Label
                  'sublinks'            =>  $sublinks );  //Link => Label Sets 
                                                          //        for submenu
  }
  else {
    return array( 'target'              =>  $target,      //Head Button Link
                  'label'               =>  $label);       //Head Button Label
  }
                                                                  
}

  $templater->add_script("jquery-1.3.2");
  $templater->add_script("index");
  $templater->add_style("index");
  
  if($template['http_area']=="")
    $area = 'home';  //Default
  else
    $area = strtolower($template['http_area']); //User Requested
  
  //Set Up for a Logged In User
  if($session->logged_in) {
    $acct_tasks = array('account/logout'      => 'Logout',
                        'account/activities'  => 'My Activities',
                        'account/edit'        => 'Edit Account',
                        'account/manage'      => 'Manage Events',
                        'account/home'        => 'Home');
    ($template['http_task']=="") ? $task = 'home' : $task = $_GET['http_task'];
  }
  //Set Up for a Logged out User
  else {
    $acct_tasks = array('account/login'      => 'Login',
                        'account/forgotpass' => 'Forgot Pass',
                        'account/why'        => 'Why',
                        'account/register'   => 'Register');
    ($_GET['http_task']=="") ? $task = 'login' : $task = $_GET['http_task'];  
  }
  
  $header = $templater->load_template(  
                'header',
                array(  'sections' => array( 
                            drop_down_menu("account/",'Account',$acct_tasks),
                            drop_down_menu('discover','Discover',array()),
                            drop_down_menu('create','Create',array()),
                            drop_down_menu('contribute','Contribute',array()),
                            drop_down_menu('source/index.php','Source Code',array()))),
                'header');
                
  $content = $templater->load_template( $area, array(), $area);
  $footer = $templater->load_template(
                'footer',
                array(  'links' => array( 'about'   => 'About Us',
                                          'contact'   => 'Contact Us',
                                          'termsofservice'   => 'Terms of Service',
                                          'privacy'   => 'Privacy Policy',
                                          'http://blog.flitter.to' => 'Blog' ) ),
                'footer');
?>

<body>
  <div id="container">
    <div id="logo">
      <a <?=$templater->http_link("home")?> alt="Flitter, Click to go Home"><img id="logo_home" <?=$templater->img_link("flitter_logo_206x100.png")?> width="206" height="100" alt="Flitter Logo"></a>
    </div>
    <div id="header"><?=$header?></div>
    <div id="content"><?=$content?></div>
    <div id="footer"><?=$footer?></div>
  </div>
  
</body>
