<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('twitter/twitter_oauth.php','php');

  $templater->add_css('login.css','css');

  //Registered user went the wrong way, send user home
  if($args['user']['user_id'] != -1) {
    header('Location: '.$templater->get_http_path('home'));
  }

  if(isset($_POST['email']) && isset($_POST['password'])) {
    $flitter = new FlitterLibrary();
    $user = $flitter->validateUser($_POST['email'],$_POST['password']);
    //Valid Credentials
    if($user!=NULL) {
      //Write user to session
      getSessionResource()->store($user);
      header('Location: '.$templater->get_http_path('event/manage'));
    }
    else
      $error = 'Invalid user credentials supplied';
  }
?>

<form method="POST" action="">
  <div class="header">Log In</div>
  <img src="<?=$templater->get_path_str("email2.png","img")?>" 
    width="40" height="18" alt="E-mail"> 
  <input type="textbox" class="textbox" name="email" />
  (email)<br />
  <img src="<?=$templater->get_path_str("password2.png","img")?>" 
    width="40" height="18" alt="Password">
  <input type="password" class="textbox" name="password" />
  (password)<br />
  <input type="image" class="submit" 
    src="<?=$templater->get_path_str("submit.png","img")?>" 
    value="Submit" />
</form>