<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('user_session.php','php');
  require_once $templater->get_path_str('twitter/twitter_oauth.php','php');

  $user = startUserSession();
  if($user->get_id() == -1) //They are a guest
    header('Location: http://'.$_SERVER['SERVER_NAME'].'/login');
  
  $flitter = new FlitterLibrary();
  $accounts = $flitter->getUserAccounts($user->get_id(),'twitter');
  if($accounts==NULL) $accounts=array();
?>

<br/>
<a href="<?=$templater->get_path_str('twitter/twitter_login.php?state=start','php');?>">Add a twitter Account</a><br/><br/>
<?php
  foreach($accounts as $account) {
    $twitter = new TwitterOAuth(FLITTERTO_CONSUMER_KEY,FLITTERTO_CONSUMER_SECRET,$account['oauth_key'],$account['oauth_secret']);
    $response = $twitter->showUser(array('user_id'=>$account['acct_id']));
    if ($twitter->lastStatusCode() != 200)
      handle_twitter_error($twitter->lastStatusCode(),$twitter->lastApiCall,$repsonse);
    else {
      $info = simplexml_load_string($response);
      echo '<a href="http://twitter.com/account/profile_image/'.$info->screen_name.'" target="_blank">';
      echo '<img src="'.$info->profile_image_url.'" alt="'.$info->screen_name.' Profile Image" /></a> - ';
      echo '<a href="http://www.twitter.com/'.$info->screen_name.'" target="_blank" 
	       alt="Link to '.$info->screen_name.' twitter account">',$info->screen_name,"</a>
	    (twitter) has ",$info->friends_count," friends and ",$info->followers_count,' followers - 
            <a href="'.$templater->get_http_path('account/remove/'.$info->id).'" alt="Remove Account"> Remove </a>';
    }
    echo "<br/><br/>";
  }
?>