<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('twitter/twitter_oauth.php','php');

  $flitter = new FlitterLibrary();
  $user = $flitter->getUserById($args['http_detail']);

  echo "<br/>";
  if(!is_array($user)) {
    echo 'user_id ',$args['http_detail'],' is not a valid id';
  }
  else {
    echo "<b>".$user['display_name']."</b>:<br/><br/>";
    $adminCommitments = $flitter->getUserCommitments($args['http_detail'],'admin');
    if(count($adminCommitments)>0) {
      echo "<b>Events under Administration</b><br/>";
      foreach($adminCommitments as $commitment) {
	$event = $flitter->getEventById($commitment['event_id']);
	echo '---> <a href="',$templater->get_http_path('event/view/'.$event['event_id']),
	      '" alt="',$event['event_title'],'"><b>',$event['event_title'],'</b></a>
	      @ ',$event['event_loc'],'. ',count($eventCommitments),' people involved so far<br/>';
      }
    }
    echo "<br/><br/><br/>";
    $attendeeCommitments = $flitter->getUserCommitments($args['http_detail'],'attendee');
    if(count($attendeeCommitments)>0) {
      echo "<b>Events to be Attended</b><br/>";
      foreach($attendeeCommitments as $commitment) {
	$event = $flitter->getEventById($commitment['event_id']);
	echo '---> <a href="',$templater->get_http_path('event/view/'.$event['event_id']),
	      '" alt="',$event['event_title'],'"><b>',$event['event_title'],'</b></a>
	      @ ',$event['event_loc'],'. ',count($eventCommitments),' people involved so far<br/>';
      }
    }
    echo "<br/><br/><br/>";
    $accounts = $flitter->getUserAccounts($args['http_detail'],'twitter');
    if(count($accounts)>0) {
      echo "<b>Network Accounts</b>:<br/><br/>";
      foreach($accounts as $account) {
	$twitter = new TwitterOAuth(FLITTERTO_CONSUMER_KEY,FLITTERTO_CONSUMER_SECRET,$account['oauth_key'],$account['oauth_secret']);
	$response = $twitter->showUser(array('user_id'=>$account['acct_id']));
	if ($twitter->lastStatusCode() != 200)
	  handle_twitter_error($twitter->lastStatusCode(),$twitter->lastApiCall,$repsonse);
	else {
	  $info = simplexml_load_string($response);
	  echo '<img src="'.$info->profile_image_url.'" alt="'.$info->screen_name.' Profile Image" /> - ';
	  echo '<a href="http://www.twitter.com/'.$info->screen_name.'" target="_blank" 
		  alt="Link to '.$info->screen_name.' twitter account">',$info->screen_name,"</a>
		(twitter) has ",$info->friends_count," friends and ",$info->followers_count,' followers';
	}
	echo "<br/><br/>";
      }
    }
  }
?>