<?php
  $templater->add_css("footer.css");  
?>
<div id="footer_bar">
  <?php
    $links = array( 'about'   => 'About Us',
		    'contact'   => 'Contact Us',
		    'termsofservice'   => 'Terms of Service',
		    'privacy'   => 'Privacy Policy');

    $last_item = end($links);
    foreach($links as $target => $label) {
      echo "<a http=\"".$templater->get_http_path($target)."\"";
      echo " class=\"footer_link\" id=\"section_link_$target\">$label</a>";
      if($label != $last_item) echo "|";
    }  
  ?>
  <p>Copyright 2009 <i>flitter.to</i> - Some rights Reserved,<br />consult 
  <a href="<?=$templater->get_http_path('licensing')?>" >licensing</a> for more 
     information
  </p>
  <p id="button_source-code"><a href="<?=$templater->get_http_path("source")?>" alt="source code">
     <img <?=$templater->get_path_str("button_source-code.png",'img')?> width="102" 
	 height="34" alt="source code"></a>
  </p>
</div>
