<?php
  $templater->add_css("home.css");
  $templater->add_js("home.js");
?>
<div id="content_container">
  <img src="<?=$templater->get_path_str("arrows_tall.png","img")?>" 
    width="40" height="180" alt="" id="arrows_tall">
  <img src="<?=$templater->get_path_str("arrows_short.png","img")?>" 
    width="40" height="84" alt="" id="arrows_short_top">
  <img src="<?=$templater->get_path_str("arrows_short.png","img")?>"
    width="40" height="84" alt="" id="arrows_short_bottom">
  <a href="<?=$templater->get_http_path("login")?>" 
	alt="Login with your twitter account" id="button_login"><img 
	src="<?=$templater->get_path_str("button_login.png","img")?>" 
	width="211" height="95" alt="">
  <div id="manage"><a href="<?=$templater->get_http_path("event/manage")?>" 
	alt="Manage your events">Manage</a> your 
	<acronym title="an already planned event">upcoming</acronym> or 
	<acronym title="a desired event, 
	not yet fully planned">potential</acronym> events!</div>
  <div id="create"><a href="<?=$templater->get_http_path("event/create")?>" 
	alt="Create an event">Create</a> a page for an event (we 
	<acronym title="a short message on twitter.com">tweet</acronym> it 
	automatically!)</div>
  <div id="know">Know something people can do 
	<acronym title="In Real Life">IRL</acronym>?</div>
  <div id="search"><a href="<?=$templater->get_http_path("event/search")?>" 
	alt="Search us">Search</a> our database and subscribe to an 
	<acronym title="Really Simple Syndication">RSS</acronym> feed!</div>
  <div id="follow"><a href="<?=$templater->get_http_path("follow")?>" 
	alt="Follow us">Follow</a> our event stream on 
	<acronym title="twitter.com, micro-blogging">twitter</acronym>!</div>
  <div id="looking">Looking for something to do 
	<acronym title="In Real Life">IRL</acronym>?</div>
</div>