<?php
  $templater->add_css("home.css");
  $templater->add_js("home.js");
?>
<div id="content_container">
  <img src="<?=$templater->get_path_str("arrows_tall.png","img")?>" width="40" 
    height="180" alt="" id="arrows_tall">
  <img src="<?=$templater->get_path_str("arrows_short.png","img")?>" width="40" 
	height="84" alt="" id="arrows_short_top">
  <img src="<?=$templater->get_path_str("arrows_short.png","img")?>" width="40" 
	height="84" alt="" id="arrows_short_bottom">
  <div id="looking">Looking for something to do 
	<acronym title="In Real Life">IRL</acronym>?</div>
  <div id="follow"><a href="<?=$templater->get_http_path("follow")?>" 
	alt="Follow us">Follow</a> our event stream on 
	<acronym title="">twitter</acronym>!</div>
  <div id="search"><a href="<?=$templater->get_http_path("search")?>" 
	alt="Search us">Search</a> our database and subscribe to an 
	<acronym title="">RSS</acronym> feed!</div>
  <div id="know">Know something people can do 
	<acronym title="In Real Life">IRL</acronym>?</div>
  <div id="create"><a href="<?=$templater->get_http_path("create")?>" 
	alt="Create an event">Create</a> a page for an event (we 
	<acronym title="">tweet</acronym> it automatically!)</div>
  <div id="manage"><a href="<?=$templater->get_http_path("manage")?>" 
	alt="Manage your events">Manage</a> your 
	<acronym title="">upcoming</acronym> or 
	<acronym title="">potential</acronym> events!</div>
</div>