<?php
  require_once $templater->get_path_str('user_session.php','php');

  $templater->add_js("jquery-1.3.2.js");
  $templater->add_js("jquery-ui-1.7.2.custom.min.js");
  $templater->add_js("index.js");
  $templater->add_css("redmond/jquery-ui-1.7.2.custom.css");  
  $templater->add_css("index.css");
  
  $args['user'] = startUserSession();

  //Lead the navigation module
  $header = $templater->load_file( 'header.tmpl' , $args );

  //Load the content module
  if(isset($args['http_file'])) {
    if(isset($args['http_folder'])) {
      //We have an area specified
      $file = $args['http_folder'].'/'.$args['http_file'];
    }
    else
      $file = $args['http_file'];
  }
  else
    $file = 'home';
  $file = strtolower($file);

  $content = $templater->load_file( $file.'.tmpl', $args );

  //Load the footer module
  $footer = $templater->load_file( 'footer.tmpl', $args );

?>

<body>
  <div id="container">
    <div id="logo">
      <a href="<?=$templater->get_http_path("home")?>" alt="flitter, Click 
	    to go Home"><img 
	    src="<?=$templater->get_path_str("logo.png",'img')?>" width="144" 
	    height="75" alt="flitter logo">
      </a>
    </div>
    <div id="header"><?=$header?></div>
    <div id="content"><?=$content?></div>
    <div id="footer"><?=$footer?></div>
  </div>
  
</body>
