<?php
  #USED_GLOBALS session END_GLOBALS#
  $templater->php_link("session");
  $templater->add_style("section_header");
?>
      <div id="section_header">
        <div id="section_logo"><?=$template['heading'];?></div>
        <?php
          echo "<div id=\"section_navigation\">";
          foreach( $template['sublinks'] as $sublink => $sublink_href )
            echo "
              <a $templater->http_link($sublink_href) class=\"".$template['sublink_class']."\">$sublink</a>";
          echo "</div>";
        ?>
      </div>