/* CSS Document */

#footer_bar {
  margin-left:-97px;
  padding-top:75px;
  text-align:center;
  font-size:12px;
}

#footer_bar .footer_link {
  margin:0px 6px;
}

#button_source-code a, #button_source-code a img {
  border:none;
}

#button_source-code a:hover {
  border:none;	
}
