/* CSS Document */

#footer_bar {
  margin:0px auto;
  text-align:center;
  padding:5px;
}

#footer_bar .footer_link {
  margin:0px 12px;
}

#footer_bar a {
  text-decoration:none;
  color:#72c7c8;
  border:none;
  border-bottom: 1px dashed #72c7c8;
}

#footer_bar a:hover {
  border-bottom-style: solid;
}
