/* CSS Document */

div#content_container {
  font-size:18px;
  padding-top:10px;
  padding-left:10px;
  height:300px;
}

div#content_container img, div#content_container div {
  position:absolute;
  /*border: 1px solid black;*/	
}

#arrows_tall {
  /*win*/
}

#arrows_short_top {
  margin-left:49px;
  margin-top:56px;
}

#arrows_short_bottom {
  margin-left:49px;
  margin-top:196px;
}

#button_login {	
  margin-left:502px;
}

#looking {
  margin-left:49px;
  margin-top:18px;	
}

#follow {
  margin-left:98px;
  margin-top:68px;	
}

#search {
  margin-left:98px;
  margin-top:118px;
}

#know {
  margin-left:49px;
  margin-top:158px;
}

#create {
  margin-left:98px;
  margin-top:208px;	
}

#manage {
  margin-left:98px;
  margin-top:258px	
}