/*CSS Document*/

html,body {
  margin:0px;
  padding:0px;
  height:100%;
  background:#bce5f1; 
  font-family:verdana,sans-serif; 
  font-size:12px;
  color:#595959;
}

acronym {
  border-bottom: 1px dotted black;
}

#content a {
  text-decoration:none;
  color:#74c6ee;
  border:none;
  border-bottom: 1px dashed #74c6ee;
  font-weight:bold;
}

#content a:hover {
  border-bottom-style: solid;
}

#container {
  width:800px;
  margin:0px auto;
}

#logo {
  position:absolute;
  margin:10px 0px 0px 0px;
  width:144px;
  height:75px;
}

#logo_home { 
  border:none; 
}

#header,#footer {
  width:800px;
}

#header {
  height:80px;
  background:#bce5f1 url('../img/header.png') no-repeat;	
}

#footer {
  height:212px;
  background:#bce5f1 url('../img/footer.png') no-repeat;
}

#content {
  width:760px;/*800-40 for left and right padding of 20*/
  padding:0px 20px;
  background: #bce5f1 url('../img/content.png') repeat-y; 
  min-height:100px;
}
