/* CSS Document */

#source_shell { 
  margin:0px -10px;
}

/*current file header*/
h1#filepath {
  font-size:30px;
  line-height:50px;
  margin:0px 0px 0px 25px;
  padding:0px;
}

#section_header {
  border-bottom: 2px solid #3f3f3f;
  padding-top:10px;
  padding: 0px 10px;
}

a.header_link {
  font-weight:normal;
  border:none;
  text-decoration:none; 
  color:#3f3f3f;
}

a.file_link {
  font-weight:normal;
  border:none;
  text-decoration:none; 
  color:#3f3f3f;
}

a:hover.file_link {
  color:red;	
}

pre { 
  margin:0px; 
  padding:0px; 
}
      
#left_col {
  padding:10px 39px 0px 10px;
  width:200px;
  float:left;
  border-right:solid #3f3f3f 2px;
}
      
#code_col {
  margin-top:0px;
  padding:0px;
  margin-left:249px;
  border-left:solid #3f3f3f 2px;
}
    
#code {
  margin-top:0px;
  margin-bottom:0px;
  padding-left:47px;
  overflow:auto;
}

#code li {
  margin:0px;
  padding-left:3px;
  border-left:solid black 1px;
}
