<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('user_session.php','php');

  $user = startUserSession();
  
  //Guest User, Redirect them to login
  if($user->get_id() == -1)
    header('Location: '.$templater->get_http_path('account/login'));

  if(isset($_POST['title']) && isset($_POST['location']) && isset($_POST['description'])) {
    $flitter = new FlitterLibrary();
    $id = $flitter->addEvent($_POST['title'],time(),time()+3600,$_POST['location'],$_POST['description']);
    if($id) {
      $flitter->addUserEventCommitment($user->get_id(),$id,'admin');
      header('Location: '.$templater->get_http_path('event/manage'));
    }
    else
      $error = 'Error occured while adding event!';
  }
?>

<br/>
<?=$error;?>
<br/><br/>
<b>Create Event</b>
<br/><br/>
<form action="" method="POST">
  Event Title<input type="textbox" name="title" /><br/><br/>
  Event Location<input type="textbox" name="location" /><br/><br/>
  Event Desc<input type="textbox" name="description" /><br/><br/>
  <input type="Submit" value="Create Event" />
</form>
<br/>