<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('twitter/twitter_oauth.php','php');
  $templater->add_css('create.css','css');
  $templater->add_js('jquery-1.3.2.js','js');
  $templater->add_js('ui.core.js','js');
  $templater->add_js('ui.selectable.js','js');
  $templater->add_js('create.js','js');


  
  //Guest User, Redirect them to login
  if($args['user']['user_id'] == -1)
    header('Location: '.$templater->get_http_path('account/login'));

  if(isset($_POST['title']) && isset($_POST['location']) && isset($_POST['description']) && isset($_POST['start']) && isset($_POST['end']) ) {
    $flitter = new FlitterLibrary();
    $match = '/^([0-1][0-9])\/([0-3][0-9])\/([0-9][0-9][0-9][0-9]) ([0-2][0-9]):([0-5][0-9])$/';
    if( preg_match($match,$_POST['start'],$matches1) && preg_match($match,$_POST['end'],$matches2) ) {
      $start = mktime($matches1[4],$matches1[5],0,$matches1[1],$matches1[2],$matches1[3]);
      $end   = mktime($matches2[4],$matches2[5],0,$matches2[1],$matches2[2],$matches2[3]);
      if($end > $start) {
	$id = $flitter->addEvent($_POST['title'],$start,$end,$_POST['location'],$_POST['description']);
	if($id) {
	  $flitter->addCommitment($args['user']['user_id'],$id,'admin');
	  
      //tweet this shit out!!
	  $link = 'http://'.$_SERVER['SERVER_NAME']."/event/view/$id";
	  if(strlen($_POST['title'])>37) $title = substr($_POST['title'],0,37).'...';
	  else $title = $_POST['title'];
	  if(strlen($_POST['location'])>37) $title = substr($_POST['location'],0,37).'...';
	  else $title = $_POST['title'];
	  $msg = "$title at $location on ".substr($_POST['start'],0,5).". Check it out at $link";
      
	  if($_POST['selectedAccounts']=="") {
	    $accounts = explode(",",substr($_POST['selectedAccounts'],0,-1));
	    foreach($accounts as $acct) {
	      $pair = explode('-',$acct);
	      $account = $flitter->getAccountById($pair[0],$pair[1]);
	      $twitter = new TwitterOAuth(FLITTERTO_CONSUMER_KEY,FLITTERTO_CONSUMER_SECRET,$account['oauth_key'],$account['oauth_secret']);
	      $response = $twitter->updateStatus($msg);
	      if ($twitter->lastStatusCode() != 200)
		handle_twitter_error($twitter->lastStatusCode(),$twitter->lastApiCall,$repsonse);
	    }
	  }
	  header('Location: '.$templater->get_http_path('event/manage'));
	}
	else
	  $error = 'Error occured while adding event!';
      }
      else
	$error = 'End time must be after the start time';
    }
    else
      $error = 'Time fields are in the wrong format, use "mm/dd/yyyy hh:mm" format.';
  }
?>

<div id="accounts">
  <ul id="selectable">
	<?php
	  $flitter = new FlitterLibrary();
	  $accounts = $flitter->getUserAccounts($args['user']['user_id'],'twitter');
	  if(count($accounts)>0) {
	    foreach($accounts as $account) {
	      $twitter = new TwitterOAuth(FLITTERTO_CONSUMER_KEY,FLITTERTO_CONSUMER_SECRET,$account['oauth_key'],$account['oauth_secret']);
	      $response = $twitter->showUser(array('user_id'=>$account['acct_id']));
	      if ($twitter->lastStatusCode() == 200) {
		$info = simplexml_load_string($response);
		//echo '<input type="checkbox" class="checkbox" name="accounts[]" value="twitter-'.$account['acct_id'].'" />';
		echo '<li class="ui-state-default ui-selected" name="twitter-'.$account['acct_id'].'">';
		echo '<img src="'.$info->profile_image_url.'" title="'.$info->screen_name.'" alt="'.$info->screen_name.' Profile Image" /> ';
		echo '</li>';
	      }
	    }
	  }
	?>
  </ul>
</div>

<?=$error;?>

<form action="" method="POST" id="createForm">
  <div class="header" id="test">Create Event</div>
  Title<input type="textbox" class="textbox" name="title" value="<?=$_POST['title'];?>" /><br/>
  Location<input type="textbox" class="textbox" name="location" value="<?=$_POST['location'];?>"/><br/>
  <!--input as follows mm/dd/yyyy hh:mm-->
  Start Time<input type="textbox" class="textbox" name="start" value="<?=$_POST['start'];?>" /><br/>
  End Time<input type="textbox" class="textbox" name="end" value="<?=$_POST['end'];?>" /><br/>
  Description<input type="textbox" class="textbox" name="description" value="<?=$_POST['description'];?>" /><br/>
  <input type="image" class="submit" 
    src="<?=$templater->get_path_str("submit.png","img")?>" 
    value="Create Event" />
  <input type="hidden" name="selectedAccounts" value="" id="selectedAccounts">
</form>