<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('twitter/twitter_oauth.php','php');
  $templater->add_css('create.css','css');

  //Hack so I don't have to change code
  $user = $args['user'];
  
  //Guest User, Redirect them to login
  if($user->get_id() == -1)
    header('Location: '.$templater->get_http_path('account/login'));

  if(isset($_POST['title']) && isset($_POST['location']) && isset($_POST['description']) && isset($_POST['start']) && isset($_POST['end']) ) {
    $flitter = new FlitterLibrary();
    $match = '/^([0-1][0-9])\/([0-3][0-9])\/([0-9][0-9][0-9][0-9]) ([0-2][0-9]):([0-5][0-9])$/';
    if( preg_match($match,$_POST['start'],$matches1) && preg_match($match,$_POST['end'],$matches2) ) {
      $start = mktime($matches1[4],$matches1[5],0,$matches1[1],$matches1[2],$matches1[3]);
      $end   = mktime($matches2[4],$matches2[5],0,$matches2[1],$matches2[2],$matches2[3]);
      if($end > $start) {
	$id = $flitter->addEvent($_POST['title'],$start,$end,$_POST['location'],$_POST['description']);
	if($id) {
	  $flitter->addCommitment($user->get_id(),$id,'admin');
	  $user = $flitter->getUserById($user->get_id());
	  
	  header('Location: '.$templater->get_http_path('event/manage'));
	}
	else
	  $error = 'Error occured while adding event!';
      }
      else
	$error = 'End time must be after the start time';
    }
    else
      $error = 'Time fields are in the wrong format, use "mm/dd/yyy hh:mm" format.';
  }
?>

<?=$error;?>

<form action="" method="POST">
  <div class="header">Create Event</div>
  Title<input type="textbox" class="textbox" name="title" value="<?=$_POST['title'];?>" /><br/>
  Location<input type="textbox" class="textbox" name="location" value="<?=$_POST['location'];?>"/><br/>
  <!--input as follows mm/dd/yyyy hh:mm-->
  Start Time<input type="textbox" class="textbox" name="start" value="<?=$_POST['start'];?>"/><br/>
  End Time<input type="textbox" class="textbox" name="end" value="<?=$_POST['end'];?>"/><br/>
  Description<input type="textbox" class="textbox" name="description" value="<?=$_POST['description'];?>"/><br/>
<?php
  $flitter = new FlitterLibrary();
  $accounts = $flitter->getUserAccounts($user->get_id(),'twitter');
  if(count($accounts)>0) {
    foreach($accounts as $account) {
      $twitter = new TwitterOAuth(FLITTERTO_CONSUMER_KEY,FLITTERTO_CONSUMER_SECRET,$account['oauth_key'],$account['oauth_secret']);
      $response = $twitter->showUser(array('user_id'=>$account['acct_id']));
      if ($twitter->lastStatusCode() == 200) {
	$info = simplexml_load_string($response);
	echo '<input type="checkbox" class="checkbox" name="accounts[]" value="twitter-'.$account['acct_id'].'" />';
	echo '<img src="'.$info->profile_image_url.'" alt="'.$info->screen_name.' Profile Image" /> '.$info->screen_name;
	echo '<br/></br>';
      }
    }
  }
?>
  <input type="image" class="submit" 
    src="<?=$templater->get_path_str("submit.png","img")?>" 
    value="Create Event" />
</form>