<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');

  $flitter = new FlitterLibrary();
  
  $commitment = $flitter->getUserEventCommitment($args['user']->get_id(),$args['http_detail']);

  //If the user is committed already
  if(!is_array($commitment))
    $flitter->addCommitment($args['user']->get_id(),$args['http_detail'],'attendee');
  header('Location: '.getRefererURL());
?>