<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('user_session.php','php');
  $templater->add_js('jquery-1.3.2.js','js');
  $templater->add_js('jquery.tablesorter.js','js');
  $templater->add_js('search.js','js');
  $templater->add_css('search.css','css');
?>

<table id="eventTable"> 
<thead> 
<tr> 
    <th>What</th> 
    <th>When</th> 
    <th>Where</th> 
    <th>Headcount</th> 
</tr> 
</thead> 
<tbody>

<?php
  $flitter = new FlitterLibrary();
  $events = $flitter->getAllEvents();
  $count = 0;
  foreach($events as $event) {
	$eventCommitments = $flitter->getEventCommitments($event['event_id']);
	$start = date('M j', $event['event_start']);
	echo '<tr';
	if($count==1) echo ' class="odd" ';
	echo'>';
    echo '<td><span class="title">'.$event['event_title'].
      '</span> <span class="link">(<a href="'.$templater->get_http_path('event/view/'.
      $event['event_id']).'" alt="'.$event['event_title'].
      '">go</a>)</span></td>';
	echo '<td>'.$start.'</td>';
	echo '<td>'.$event['event_loc'].'</td>';
	echo '<td>'.count($eventCommitments);
    echo '</tr>';
    if($count==0) $count=1;
    else $count=0;
  }
?>

</tbody>
</table>