<?php
  require_once $templater->get_path_str('flitter/flitter_library.php','php');
  require_once $templater->get_path_str('twitter/twitter_oauth.php','php');

  $flitter = new FlitterLibrary();
  $event = $flitter->getEventById($args['http_detail']);
  echo "<br/>";
  if(!$event)
    echo 'You\'ve attempted to access event_id '.$args['http_detail'].'. This event does not exist';
  else {
    echo "<b>".$event['event_title']."</b>";
    echo '<br/><br/>';
    echo "Where: ",$event['event_loc'],"<br/>";
    $format = 'g:i a M j, Y';
    echo "When: ",date($format,$event['event_start'])," to ",date($format,$event['event_end']),"<br/>";
    echo "What: ",$event['event_desc'],"<br/>";
    echo "<br/>";
    echo '<a href="" alt="">Tweet This Event</a>';
    echo '<br/><br/>';
    $commitment = $flitter->getUserEventCommitment($args['user']['user_id'],$event['event_id']);
    if(!$commitment) { //Unaffilitated User
      echo '<a href="'.$templater->get_http_path('event/join/'.$event['event_id']).'" alt="Join this Event!">Join this Event!</a>';
    }
    elseif($commitment['type']=='admin') {
      echo '<a href="'.$templater->get_http_path('event/remove/'.$event['event_id']).'" alt="Remove this event">Remove this event</a>';
    }
    else { //Must be attendee
      echo '<a href="'.$templater->get_http_path('event/leave/'.$event['event_id']).'" alt="Leave this event">Leave this event</a>';
    }

    echo "<br/><br/>";
    echo "<b>Users Related to the Event</b><br/><br/>";
    $commitments = $flitter->getEventCommitments($args['http_detail']);
    foreach($commitments as $commitment) {
      $user = $flitter->getUserById($commitment['user_id']);
      if($user) {
	echo '('.$commitment['type'].') <a href="'.$templater->get_http_path('account/view/'.$commitment['user_id']).'" alt="Visit user profile">'.$user['display_name'].'</a>';
      }
      else
	echo 'Problem loading user '.$commitment['user_id'];
      echo '<br/>';
    }
  }
?>